In [3]:
pip install --upgrade pip

Requirement already satisfied: pip in /Applications/anaconda3/lib/python3.7/site-packages (20.3.3)
Note: you may need to restart the kernel to use updated packages.

In [13]:
!conda install -yc conda-forge ipython-sql

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Applications/anaconda3

  added / updated specs:
    - ipython-sql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.9.2                |   py37hf985489_0         3.0 MB  conda-forge
    ipython-sql-0.3.9          |py37hc8dfbb8_1002          27 KB  conda-forge
    prettytable-2.0.0          |     pyhd8ed1ab_0          22 KB  conda-forge
    python_abi-3.7             |          1_cp37m           4 KB  conda-forge
    sqlparse-0.4.1             |     pyh9f0ad1d_0          34 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.1 MB

The following NEW packages will be INSTALLED:

  ipython-sql        conda-forge/osx-64::ipython-sql-0.3.9-py37hc8dfbb8_1002
  prettytable        conda-forge/noarch::prettytable-2.0.0-pyhd8ed1ab_0
  python_abi         conda-forge/osx-64::python_abi-3.7-1_cp37m
  sqlparse           conda-forge/noarch::sqlparse-0.4.1-pyh9f0ad1d_0

The following packages will be SUPERSEDED by a higher-priority channel:

  conda               pkgs/main::conda-4.9.2-py37hecd8cb5_0 --> conda-forge::conda-4.9.2-py37hf985489_0



Downloading and Extracting Packages
ipython-sql-0.3.9    | 27 KB     | ##################################### | 100%
sqlparse-0.4.1       | 34 KB     | ##################################### | 100%
prettytable-2.0.0    | 22 KB     | ##################################### | 100%
python_abi-3.7       | 4 KB      | ##################################### | 100%
conda-4.9.2          | 3.0 MB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [14]:
%load_ext sql

In [15]:
%sql sqlite://

'Connected: @None'

In [16]:
%%sql
CREATE TABLE sales
(
    key       varchar(6),
    ts        timestamp,
    product   integer,
    completed boolean,
    price     float
);
INSERT INTO sales
VALUES ('sale_1', '2019-11-08 00:00', 0, TRUE, 1.1),
       ('sale_2', '2019-11-08 01:00', 0, FALSE, 1.2),
       ('sale_3', '2019-11-08 01:00', 0, TRUE, 1.3),
       ('sale_4', '2019-11-08 01:00', 1, FALSE, 1.4),
       ('sale_5', '2019-11-08 02:00', 1, TRUE, 1.5),
       ('sale_6', '2019-11-08 02:00', 1, TRUE, 1.5);

 * sqlite://
Done.
6 rows affected.

[]

In [17]:
%%sql

SELECT * FROM sales

 * sqlite://
Done.

[('sale_1', '2019-11-08 00:00', 0, 1, 1.1),
 ('sale_2', '2019-11-08 01:00', 0, 0, 1.2),
 ('sale_3', '2019-11-08 01:00', 0, 1, 1.3),
 ('sale_4', '2019-11-08 01:00', 1, 0, 1.4),
 ('sale_5', '2019-11-08 02:00', 1, 1, 1.5),
 ('sale_6', '2019-11-08 02:00', 1, 1, 1.5)]

In [ ]:
#